{% extends 'base.html' %}

{% block extra_header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.46.0/codemirror.css">
{% endblock %}

{% block contents %}

<p>This page is designed to query the database locally with SQLite. Data is
loaded in memory and can take a while to load. It is intended for
experimentation and exploration by advanced users familiar with SQL.</p>

<p>The `sqljs` library is original work by kripken (<a href='https://github.com/kripken/sql.js'>sql.js</a>).
C to Javascript compiler by kripken (<a href='https://github.com/kripken/emscripten'>emscripten</a>).
Project now maintained by <a href='https://github.com/lovasoa'>lovasoa</a>.</p>

<main>
  <label for='commands'>Enter some SQL</label>
  <br>

  <textarea id="commands">
SELECT designation,COUNT(*) AS nbr, (AVG(salary)) AS avg_salary FROM employees GROUP BY designation ORDER BY avg_salary DESC;
SELECT name,hired_on FROM employees ORDER BY hired_on;
</textarea>

  <button id="execute" class="button">Execute</button>
  <button id='savedb' class="button">Save the db</button>
  <label class="button">Load an SQLite database file: <input type='file' id='dbfile'></label>

  <div id="error" class="error"></div>

  <pre id="output">Results will be displayed here</pre>
</main>

{% endblock %}

{% block sql_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.46.0/codemirror.js"></script>
<script type="text/javascript" src="sql_interface.js"></script>
<script type="text/javascript">

{% for table in data %}
  execute("DROP TABLE IF EXISTS {{ table }};");
  execute("CREATE TABLE employees({{ schemata[table] }});");

  {% for row in data[table] %}
  execute("INSERT INTO {{ table }} VALUES ({{ row }});");
  {% endfor %}
{% endfor %}

</script>

{% endblock %}
